<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sadiqmdasif.messmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewAllEmployee"
            android:label="@string/title_activity_view_all_employee"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".ViewEmployee"
            android:label="@string/title_activity_view_employee"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".ViewAllEmployee" />

        <activity android:name=".RegisterMess" />
        <activity android:name=".CreateMess" />
        <activity android:name=".JoinMess" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".MonthlyExpenseActivity" />
        <activity android:name=".MealList" />
        <activity android:name=".MealChartView" />
        <activity android:name=".BazarChartView" />
        <activity android:name=".DailyBazarSpend"></activity>
    </application>

</manifest>